@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the books catalog</h1>
    <p>In <a class="navbar-brand" asp-controller="Books" asp-action="Index">Books catalog</a>you can create, update or delete books.
    </p>
</div>
